name: Generate Terraform README docs
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read


jobs:
  docs:
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        ref: ${{ github.event.pull_request.head.ref }}

    - name: Render terraform docs and push changes back to PR
      uses: terraform-docs/gh-actions@6de6da0cefcc6b4b7a5cbea4d79d97060733093c # v1.4.1
      with:
        working-dir: .
        output-file: README.md
        output-method: inject
        git-push: "true"
