name: "Format Code: ensure code formatting guidelines are met"
on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

permissions: read-all
  
jobs:
  format-code:
    permissions:
      pull-requests: write
      contents: write
      security-events: write  # needed for SARIF upload
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run Format Code Action
        uses: ministryofjustice/modernisation-platform-github-actions/format-code@bug/fix-ignore-files # test branch
        with:
          ignore_files: "README.md"

      - name: Run Signed Commit Action
        uses: ministryofjustice/modernisation-platform-github-actions/signed-commit@bug/fix-ignore-files # test branch
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_title: "GitHub Actions Code Formatter workflow"
          pr_body: "This pull request includes updates from the GitHub Actions Code Formatter workflow. Please review the changes and merge if everything looks good."
